{% extends 'layouts/base.html.twig' %}

{% block title %}Liste des Types{% endblock %}

{% block body %}
    <h1>Liste des Types</h1>

    <ul>
    {% for type in types %}
        <ul>
            <li>{{ type.type }}</li>
        </ul>    
    {% endfor %}
    </ul>
{% endblock %}
