{% extends 'base.html.twig' %}

{% block title %}Fiche d'un Type{% endblock %}

{% block body %}
    <h1>{{ type.type|capitalize }}</h1>
    {% for artist in type.artists %}
        <li>{{ artist.firstname }} {{ artist.lastname }}</li>
    {% endfor %}
{% endblock %} 