{% extends 'layouts/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
   <h1 style="margin-top: 30px;">Bienvenue sur le Projet Réservation !</h1>
   <p>Réserver vos places de théâtres facilement, tous nos spectacles sont dans notre catalogue !</p>
</div>
{% endblock %}
