{% extends 'base.html.twig' %}

{% block title %}Fiche d'un Role{% endblock %}

{% block body %}
<h3>{{ locality.id }}</h3>
        <table>
            <thead> </thead>
            <td>{{ locality.postalCode  }}</td>
            <td>{{ locality.locality  }}</td>
        </table>
{% endblock %}