{% extends 'layouts/base.html.twig' %}

{% block title %}Hello LocationController!{% endblock %}

{% block body %}
    <h1>Liste des Locations</h1>
    
    <ul>
    {% for location in locations %}
        <li>{{ location.designation }}</li>
            {% if location.website %}
                <a href="">{{ location.website }}</a>
            {% endif %}
    {% endfor %}
    </ul>
{% endblock %}
