{% extends 'layouts/base.html.twig' %} 

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="margin-top: 30px; margin-bottom:30px;">Liste des Artistes</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                </tr>
            </thead>
            <tbody>
            {% for artist in artists %}
                <tr>
                    <td>{{artist.firstname}}</td>
                    <td>{{artist.lastname}}</td>
                </tr>
            {% endfor %}    
            </tbody>
        </table>
    </div>
{% endblock %}
