{% extends 'base.html.twig' %}

{% block title %}Liste des Roles{% endblock %}

{% block body %}
    <h1>Liste des Roles</h1>
    <ul>
        {% for role in roles %}
            <ul>
                <li> {{ role.role }} </li>
            </ul>    
        {% endfor %}
    </ul>
{% endblock %}
